name: Test

on:
  pull_request:
    paths:
      - .github/workflows/test.yml
      - bin/**
      - cookbooks/**
      - lib/**
      - nodes/**
      - roles/**
      - setup.sh

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      matrix:
        os: ["13", "14"]

    runs-on: macos-${{ matrix.os }}

    name: Test on macOS ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Test run
      run: ./setup.sh --node-json nodes/github-actions.json
